<ion-view view-title="Atualizar crenças" class="background">
  <ion-content>
    <ion-list class="animate-ripple">
      <ion-item nav-clear menu-close class="item-icon-right item-avatar" ng-click="abrirOQueE();">
        <img src="img/icons/atualizar/icone-o-que-e-small.png">
        <h2>O que é o líder em mim?</h2>
        <p>É amplamente estabelecida a crença de que ser líder e ter a capacidade/habilidade de liderança é para poucos ou somente para alguns.</p>
      </ion-item>
      <ion-item nav-clear menu-close class="item-icon-right item-avatar" ng-click="abrirOQueELideranca();">
        <img src="img/icons/atualizar/icone-o-que-e-lideranca.png">
        <h2>O que é liderança?</h2>
        <p>É a capacidade/habilidade que o líder de si mesmo tem caso queira ter seu próprio negócio, comandar equipes</p>
      </ion-item>
      <ion-item nav-clear menu-close class="item-icon-right item-avatar" ng-click="abrirSabotagem();">
        <img src="img/icons/atualizar/icone-sabotagem.png">
        <h2>Ciclo da Autossabotagem X Ciclo da Autoconfiança</h2>
        <p>O que usualmente impede ou permite você de ser líder de si mesmo é desenvolver crenças rígidas sobre você e os outros.</p>
      </ion-item>
      <ion-item nav-clear menu-close class="item-icon-right item-avatar" ng-click="abrirIdealizacao();">
        <img src="img/icons/atualizar/icone-idealizacao.png">
        <h2>Idealização X Presentificação</h2>
        <p>Idealizar - pare de idealizar/imaginar o que você não tem. Esta é uma crença muito limitadora e autossabotadora quando você só idealiza</p>
      </ion-item>
      <ion-item nav-clear menu-close class="item-icon-right item-avatar" ng-click="abrirComparacao();">
        <img src="img/icons/atualizar/icone-comparacao.png">
        <h2>Comparação X Personalização</h2>
        <p>Comparar - pare de se comparar com os outros para se diminuir ou desvalorizar.</p>
      </ion-item>
      <ion-item nav-clear menu-close class="item-icon-right item-avatar" ng-click="abrirAutonomia();">
        <img src="img/icons/atualizar/icone-autonomia.png">
        <h2>Vitimização X Autonomia</h2>
        <p>Vitimizar – saia do lugar de vítima, dos seus pais, das pessoas ao seu redor, do seu trabalho...</p>
      </ion-item>
      <ion-item nav-clear menu-close class="item-icon-right item-avatar" ng-click="abrirLiberdade();">
        <img src="img/icons/atualizar/icone-liberdade.png">
        <h2>Limitação X Liberdade</h2>
        <p>Limitar – outra crença autossabotadora. Seu sentimento de limitação muitas vezes é desenvolvido/criado diante de suas idealizações...</p>
      </ion-item>
      <ion-item nav-clear menu-close class="item-icon-right item-avatar" ng-click="abrirImpotencia();">
        <img src="img/icons/atualizar/icone-proatividade.png">
        <h2>Impotência X Pró Atividade</h2>
        <p>Impotência – pare de se retrair, se imaginando não conseguindo algo. Sentir-se impotente é consequência do processo de vitimização.</p>
      </ion-item>
      <ion-item nav-clear menu-close class="item-icon-right item-avatar" ng-click="abrirRealizacao();">
        <img src="img/icons/atualizar/icone-realizacao.png">
        <h2>Imaginação X Realização</h2>
        <p>Imaginar – é uma crença autossabotadora quando você fica somente no campo das ideias, de momentos que não tem...</p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
