<ion-view view-title="E-book" class="background">
  <ion-content>
    <div class="text-center">
      <br>
      <img src="img/icons/icone-ebook-int.png">
    </div>
    <div class="padding">
      <p>O ebook “Líder em mim” traz para você um conteúdo mais detalhado da teoria que embasa todo os passos propostos neste aplicativo. Tendo como objetivo auxiliar você a encontrar e desenvolver o líder de si mesmo!</p>
    </div>

    <div class="text-center">
      <a target="_parent" href="https://drive.google.com/file/d/1CkDeOtpYFN7ObOSPLwsGSWxK0yXxAUXk/view?usp=sharing"><h2>Download</h2></a>
    </div>
  </ion-content>
</ion-view>

