<ion-view view-title="Filmes pró-ativos e divertidos" class="background">
  <ion-content>
    <div class="text-center">
      <br>
      <img src="img/icons/icone-filmes-divertidos-int.png">
    </div>
    <div class="padding">
      <h4>Extraordinário - dirigido por Stephen Chbosky - 2017</h4><br>
      <h4>Star Wars: Os Últimos Jedi - dirigido por Rian Johnson - 2017</h4><br>
      <h4>Sing: Quem Canta Seus Males Espanta – dirigido por Garth Jennings - 2016</h4><br>
      <h4>Divertidamente – dirigido por Pete Docter - 2015</h4><br>
      <h4>Em busca da felicidade – dirigido por Gabriele Muccino - 2007</h4><br>
      <h4>Efeito borboleta – dirigido por Eric Bress - 2004</h4><br>
      <h4>Fuga das galinhas – dirigido por Nick Park e Peter Lord - 2000</h4>
    </div>
  </ion-content>
</ion-view>
