<ion-view view-title="Filmes pró-ativos e divertidos" class="background">
  <ion-content>
    <div class="text-center">
      <br>
      <img src="img/icons/icone-filmes-divertidos-int.png">
    </div>
    <div class="padding">
      <h4>Extraordinário- dirigido por Stephen</h4><br>
      <h4>Chbosky e Star Wars: Os Últimos Jedi - dirigido por Rian Johnson</h4><br>
      <h4>Em busca da felicidade – dirigido por Gabriele Muccino</h4><br>
      <h4>Efeito borboleta – dirigido por Eric Bress</h4><br>
      <h4>Fuga das galinhas – dirigido por Nick Park e Peter Lord</h4><br>
      <h4>Sing – dirigido por Garth Jennings</h4>
    </div>
  </ion-content>
</ion-view>
