<ion-view view-title="init">
  <ion-content style="height: 100%;">
    <br>
    <div class="text-center">
      <img height="90" width="250" src="img/logo.png">
    </div>

    <br>

    <div class="background"><br>
    <div class="row">

      <div class="col text-center">
        <a href="#/utilizando/utilizandohome">
          <img height="63" src="img/icons/icone-utilizando-o-app.png">
        </a><br>
        <label><strong>Utilizando o aplicativo</strong></label>
      </div>

      <div class="col text-center">
        <a href="#/atualizar/atualizarhome">
          <img height="63" src="img/icons/icone-atulizar-crencas.png">
        </a><br>
        <label><strong>Atualizar</strong></label><br>
        <label><strong>crenças</strong></label>
      </div>
      <div class="col text-center">
        <a href="#/seulider/seja">
          <img height="63" src="img/icons/icone-seja-seu-lider.png"><br>
          <label><strong>Seja o seu</strong></label><br>
          <label><strong>líder já!</strong></label>
        </a>
      </div>
    </div>

    <br><br>

    <div class="row">
      <div class="col text-center">
        <a href="#/pratique/pratiquehome">
          <img height="63" src="img/icons/icone-pratiique-o-lider.png"><br>
          <label><strong>Pratique a sua liderança</strong></label><br>
          <label><strong>consigo mesmo</strong></label>
        </a>
      </div>
      <div class="col text-center">
        <a href="#/video/videohome">
          <img height="63" src="img/icons/icone-videos.png"><br>
          <label><strong>Vídeos</strong></label><br>
          <label><strong>pró-ativos</strong></label>
        </a>
      </div>
      <div class="col text-center">
        <a href="#/leitura/leiturahome">
          <img height="63" src="img/icons/icone-leitura.png"><br>
          <label><strong>Leituras</strong></label><br>
          <label><strong>pró-ativas</strong></label>
        </a>
      </div>
    </div>

    <br><br>

    <div class="row">
      <div class="col text-center">
        <a href="#/filme/filmehome">
          <img height="63" src="img/icons/icone-filmes-divertidos.png"><br>
          <label><strong>Filmes</strong></label><br>
          <label><strong>pró-ativos</strong></label>
        </a>
      </div>
      <div class="col text-center">
        <a href="#/ebook/ebookhome">
          <img height="63" src="img/icons/icone-ebook.png"><br>
          <label><strong>E-book</strong></label><br>
          <label><strong></strong></label>
        </a>
      </div>
      <div class="col text-center">
        <a href="#/programacao/programacaohome">
          <img height="63" src="img/icons/icone-programacao.png"><br>
          <label><strong>Programação</strong></label><br>
          <label><strong>pró-ativa</strong></label>
        </a>
      </div>
    </div>
  <br><br>
    </div>
  </ion-content>
</ion-view>
