<ion-view view-title="init">
  <ion-content style="height: 100%;">
    <br>
    <div class="text-center">
      <img height="90" width="250" src="../img/logo.png">
    </div>

    <br>

    <div class="background"><br>
    <div class="row">

      <div class="col text-center">
        <a href="#/app/utilizando">
          <img height="63" src="../img/icons/icone-utilizando-o-app.png">
        </a><br>
        <label><strong>Utilizando o aplicativo</strong></label>
      </div>

      <div class="col text-center">
        <img height="63" src="../img/icons/icone-atulizar-crencas.png"><br>
        <label><strong>Atualizar</strong></label><br>
        <label><strong>crenças</strong></label>
      </div>
      <div class="col text-center">
        <img height="63" src="../img/icons/icone-seja-seu-lider.png"><br>
        <label><strong>Seja o seu</strong></label><br>
        <label><strong>líder já!</strong></label>
      </div>
    </div>

    <br><br>

    <div class="row">
      <div class="col text-center">
        <img height="63" src="../img/icons/icone-pratiique-o-lider.png"><br>
        <label><strong>Pratique o lider</strong></label><br>
        <label><strong>em você mesmo</strong></label>
      </div>
      <div class="col text-center">
        <img height="63" src="../img/icons/icone-videos.png"><br>
        <label><strong>Vídeos</strong></label><br>
        <label><strong>pró-ativos</strong></label>
      </div>
      <div class="col text-center">
        <img height="63" src="../img/icons/icone-leitura.png"><br>
        <label><strong>Leituras</strong></label><br>
        <label><strong>pró-ativas</strong></label>
      </div>
    </div>

    <br><br>

    <div class="row">
      <div class="col text-center">
        <img height="63" src="../img/icons/icone-filmes-divertidos.png"><br>
        <label><strong>Filmes divertidos</strong></label><br>
        <label><strong>e pró-ativos</strong></label>
      </div>
      <div class="col text-center">
        <img height="63" src="../img/icons/icone-ebook.png"><br>
        <label><strong>E-book</strong></label><br>
        <label><strong></strong></label>
      </div>
      <div class="col text-center">
        <img height="63" src="../img/icons/icone-programacao.png"><br>
        <label><strong>Programação</strong></label><br>
        <label><strong>pró-ativa</strong></label>
      </div>
    </div>

    </div>
  </ion-content>
</ion-view>
