<ion-view view-title="Leituras pró ativas" class="background">
  <ion-content>
    <div class="text-center">
      <br>
      <img src="img/icons/icone-leitura-int.png">
    </div>
    <div class="padding">
      <h4>Em busca do sentido: o psicólogo no campo de concentração – <a style="font-style: italic">Viktor Frankl</a></h4><br>
      <h4>Os sete hábitos das pessoas altamente eficazes – <a style="font-style: italic">Stephen Covey</a></h4><br>
      <h4>O ciclo da autossabotagem – <a style="font-style: italic">Stanley Rosner & Patricia Hermes</a></h4><br>
      <h4>Faça seu tempo trabalhar por você – <a style="font-style: italic">Tathiane Dheândela</a></h4><br>
      <h4>Por que fazemos o que fazemos – <a style="font-style: italic">Mário Sérgio Cortella</a></h4><br>
    </div>
  </ion-content>
</ion-view>
