<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="background-pratique">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon sanduiche-menu" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent">

    </ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-content>
      <ion-list>
        <ion-item class="heading-item item" nav-clear menu-close href="#/init">
          <div class="user-image-container text-center">
            <pre-img ratio="_1_1" helper-class="rounded-image">
              <img class="user-image" ng-src="img/logo.png">
            </pre-img>
          </div>
        </ion-item>
        <ion-item menu-close href="#/utilizando/utilizandohome">
          <img height="19" width="17" src="img/icons/icone-utilizando-o-app.png">
          Utilizando o aplicativo
        </ion-item>
        <ion-item menu-close href="#/atualizar/atualizarhome">
          <img height="17" width="17" src="img/icons/icone-atulizar-crencas.png">
          Atualizar crenças
        </ion-item>
        <ion-item menu-close href="#/seulider/seja">
          <img height="17" width="17" src="img/icons/icone-seja-seu-lider.png">
          Seja o seu líder já!
        </ion-item>
        <ion-item menu-close href="#/pratique/pratiquehome">
          <img height="17" width="17" src="img/icons/icone-pratiique-o-lider.png">
          Pratique a sua liderança consigo mesmo
        </ion-item>
        <ion-item menu-close href="#/video/videohome">
          <img height="17" width="17" src="img/icons/icone-videos.png">
          Vídeos pró-ativos
        </ion-item>
        <ion-item menu-close href="#/leitura/leiturahome">
          <img height="17" width="17" src="img/icons/icone-leitura.png">
          Leituras pró-ativas
        </ion-item>
        <ion-item menu-close href="#/filme/filmehome">
          <img height="17" width="17" src="img/icons/icone-filmes-divertidos.png">
          Filmes pró-ativos
        </ion-item>
        <ion-item menu-close href="#/ebook/ebookhome">
          <img height="17" width="17" src="img/icons/icone-ebook.png">
          E-book
        </ion-item>
        <ion-item menu-close href="#/programacao/programacaohome">
          <img height="17" width="17" src="img/icons/icone-programacao.png">
          Programação pró-ativa
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
