<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="background-pratique">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon sanduiche-menu" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent">

    </ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-content>
      <ion-list>
        <ion-item class="heading-item item" nav-clear menu-close>
          <div class="user-image-container text-center">
            <pre-img ratio="_1_1" helper-class="rounded-image">
              <img class="user-image" ng-src="img/logo.png">
            </pre-img>
          </div>
        </ion-item>
        <ion-item menu-close>
          <a href="#/utilizando/utilizandohome">
            <img height="19" width="17" src="img/icons/icone-utilizando-o-app.png">
            Utilizando o aplicativo
          </a>
        </ion-item>
        <ion-item menu-close>
          <a href="#/atualizar/atualizarhome">
            <img height="17" width="17" src="img/icons/icone-atulizar-crencas.png">
            Atualizar crenças
          </a>
        </ion-item>
        <ion-item menu-close>
          <a href="#/seulider/seja">
            <img height="17" width="17" src="img/icons/icone-seja-seu-lider.png">
            Seja o seu líder já!
          </a>
        </ion-item>
        <ion-item menu-close>
          <a href="#/pratique/pratiquehome">
            <img height="17" width="17" src="img/icons/icone-pratiique-o-lider.png">
            Pratique o líder em vc mesmo
          </a>
        </ion-item>
        <ion-item menu-close>
          <a href="#/video/videohome">
            <img height="17" width="17" src="img/icons/icone-videos.png">
            Vídeos pró-ativos
          </a>
        </ion-item>
        <ion-item menu-close>
          <a href="#/leitura/leiturahome">
            <img height="17" width="17" src="img/icons/icone-leitura.png">
            Literatura pró-ativas
          </a>
        </ion-item>
        <ion-item menu-close>
          <a href="#/filme/filmehome">
            <img height="17" width="17" src="img/icons/icone-filmes-divertidos.png">
            Filmes pró-ativos e divertidos
          </a>
        </ion-item>
        <ion-item menu-close>
          <a href="#/ebook/ebookhome">
            <img height="17" width="17" src="img/icons/icone-ebook.png">
            E-book
          </a>
        </ion-item>
        <ion-item menu-close>
          <a href="#/programacao/programacaohome">
            <img height="17" width="17" src="img/icons/icone-programacao.png">
            Programação pró-ativa
          </a>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
