<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="background-menu">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button style="color: white !important;" class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent">

    </ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar>
      <img src="../img/logo.png"><br>
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <ion-item menu-close>
          <img height="15" width="15" src="../img/icons/icone-utilizando-o-app.png">
          Utilizando o aplicativo
        </ion-item>
        <ion-item menu-close>
          <img height="15" width="15" src="../img/icons/icone-atulizar-crencas.png">
          Atualizar crenças
        </ion-item>
        <ion-item menu-close>
          <img height="15" width="15" src="../img/icons/icone-seja-seu-lider.png">
          Seja o seu líder já!
        </ion-item>
        <ion-item menu-close>
          <img height="15" width="15" src="../img/icons/icone-videos.png">
          Vídeos pró-ativos
        </ion-item>
        <ion-item menu-close>
          <img height="15" width="15" src="../img/icons/icone-leitura.png">
          Literatura pró-ativas
        </ion-item>
        <ion-item menu-close>
          <img height="15" width="15" src="../img/icons/icone-filmes-divertidos.png">
          Filmes divertidos e pró-ativos
        </ion-item>
        <ion-item menu-close>
          <img height="15" width="15" src="../img/icons/icone-ebook.png">
          E-book
        </ion-item>
        <ion-item menu-close>
          <img height="15" width="15" src="../img/icons/icone-programacao.png">
          Programação pró-ativa
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
