<ion-view view-title="Pratique a sua liderança consigo mesmo" class="background">
  <ion-content>
    <ion-list class="animate-ripple">
      <ion-item nav-clear menu-close class="item-icon-right item-avatar" ng-click="abrirTempoPro();">
        <img src="img/icons/pratique/icone-tempo-pro-ativo.png">
        <h2>Tempo pró ativo</h2>
        <p>Estabeleça um tempo coerente com sua realidade (30 minutos, 1 hora) para se reunir com você mesmo!</p>
      </ion-item>
      <ion-item nav-clear menu-close class="item-icon-right item-avatar" ng-click="abrirEscritaPro();">
        <img src="img/icons/pratique/icone-escrita-pro-ativa.png">
        <h2>Escrita pró ativa</h2>
        <p>Neste tempo estabelecido e cumprido por você, escreva na sua agenda, anote no seu smartphone e/ou tablet tudo que quiser planejar para aquele dia</p>
      </ion-item>
      <ion-item nav-clear menu-close class="item-icon-right item-avatar" ng-click="abrirRecursoPro();">
        <img src="img/icons/pratique/icone-recursos-pro-ativos.png">
        <h2>Alternativas pró ativos</h2>
        <p>No seu tempo, tendo escrito/anotado seu planejamento concreto, estabelecendo seus objetivos ou metas reais.</p>
      </ion-item>
      <ion-item nav-clear menu-close class="item-icon-right item-avatar" ng-click="abrirAtitudePro();">
        <img src="img/icons/pratique/icone-atitude-pro-ativa.png">
        <h2>Atitude pró ativa</h2>
        <p>De posse dos três primeiros passos, coloque em prática o que planejou</p>
      </ion-item>
      <ion-item nav-clear menu-close class="item-icon-right item-avatar" ng-click="abrirFocoDisciplina();">
        <img src="img/icons/pratique/icone-foco-pro-ativo.png">
        <h2>Foco/Disciplina/Determinação pró ativos</h2>
        <p>Repita os passos, toda semana, meses, anos ou que for necessário</p>
      </ion-item>
      <ion-item nav-clear menu-close class="item-icon-right item-avatar" ng-click="abrirAutoCritica();">
        <img src="img/icons/pratique/icone-auto-critica.png">
        <h2>Auto crítica pró ativa</h2>
        <p>Se auto critique o necessário para se reinventar, transformar!</p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
