<ion-view view-title="Programação pró ativa" class="background">
  <ion-content>
    <div class="text-center">
      <br>
      <img src="img/icons/icone-programacao-int.png">
    </div>
    <div class="padding">
      <h3>Curso presencial</h3>
      <h4>“Atualizar crenças, transformar pessoas. Encontrando o Líder que Há em Mim!”</h4>
      <h4>Objetivo: Desenvolver o auto conhecimento possibilitando a pessoa encontrar o líder pessoal e a capacidade de liderança pessoal nela propria</h4>
      <h4>Turmas: entre 20 a 25 pessoas</h4>
      <h4>Carga horaria: 16 horas</h4>
      <h4>15 e 16 de dezembro de 2017 – Vagas esgotadas</h4>
      <h4>Novas turmas – Informações no site em breve</h4><br>

      <h4>Curso à distância: “Atualizar crenças, transformar pessoas. Encontrando o Líder que Há em Mim!”</h4>
      <h4>Novas turmas – Informações no site em breve</h4><br>
      <h4>Lançamento do livro: Atualizar Crenças Transformar Pessoas: Encontrando o Líder que Há em Mim - Data 18/08/2018</h4>
      <h4>Novas turmas – Informações no site em breve</h4><br>
    </div>
  </ion-content>
</ion-view>
