<ion-view view-title="Seja seu líder já!" class="background">
  <ion-content>
    <div class="text-center">
      <br>
      <img src="img/icons/icone-lider-ja-int.png">
    </div>
    <div class="padding">
      <h4>Pare tudo que estiver fazendo (mesmo que dê para fazer isto só no pensamento)!</h4><br>
      <h4>Respire. Fique consigo mesmo.</h4><br>
      <h4>Olhe para si mesmo (gostando ou não), sua realidade (boa ou ruim).</h4><br>
      <h4>Calma! É assim mesmo. Do seu pior momento sairá sua maior conquista.</h4><br>
      <h4>Fale para si mesmo (em voz alta ou não) – “Eu tenho escolha”.</h4><br>
      <h4>Defina o seu(s) recurso(s) para alcançá-la.</h4><br>
    </div>
  </ion-content>
</ion-view>
