<ion-view view-title="Utilizando o aplicativo" class="background">
  <ion-content>
    <ion-list class="animate-ripple">
      <ion-item nav-clear menu-close class="item-icon-right item-avatar" ng-click="abrirLiderEmMin();">
        <img src="img/icons/utilizando/icone-o-lider-em-mim.png">
        <h2>O lider em min</h2>
        <p>Aqui você vai aprender de maneira objetiva e inovadora sobre ser seu próprio líder, dismistificando a crença/ideia de que esta característica é para poucos, ou somente para alguns.</p>
      </ion-item>
      <ion-item nav-clear menu-close class="item-icon-right item-avatar" ng-click="abrirEscolha();">
        <img src="img/icons/utilizando/icone-escolha.png">
        <h2>Você sempre tem escolha!</h2>
        <p>Isto mesmo!! Independente do que estiver acontecendo, da situação em que você está, a escolha em como lidar com ela é sua!! Se reconheça em sua escolha.</p>
      </ion-item>
      <ion-item nav-clear menu-close class="item-icon-right item-avatar" ng-click="abrirFacaPazes();">
        <img src="img/icons/utilizando/icone-fracassos.png">
        <h2>Faça as pazes com seus erros e fracassos</h2>
        <p>Todo líder erra e fracassa!! Acredita? É verdade. O que diferencia o líder de si mesmo</p>
      </ion-item>
      <ion-item nav-clear menu-close class="item-icon-right item-avatar" ng-click="abrirRealidade();">
        <img src="img/icons/utilizando/icone-realidade.png">
        <h2>Lide com a sua realidade!</h2>
        <p>Não existe perfeição. Não existe lugar perfeito. Isto mesmo!</p>
      </ion-item>
      <ion-item nav-clear menu-close class="item-icon-right item-avatar" ng-click="abrirOlheParaSi();">
        <img src="img/icons/utilizando/icone-olhe-para-si.png">
        <h2>Olhe para si mesmo agora.</h2>
        <p>Veja sua realidade, reconheça os recursos que tem ao seu redor. Coloque em prática com atitudes concretas o líder de si mesmo.</p>
      </ion-item>
      <ion-item nav-clear menu-close class="item-icon-right item-avatar" ng-click="abrirSejaBom();">
        <img src="img/icons/utilizando/icone-seja-bom.png">
        <h2>Seja bom com você como você é com outros.</h2>
        <p>Seja bom com você mesmo assim como você é com os outros.</p>
      </ion-item>
      <ion-item nav-clear menu-close class="item-icon-right item-avatar" ng-click="abrirRecursos();">
        <img src="img/icons/utilizando/icone-recursos.png">
        <h2>Que recursos pode utilizar?</h2>
        <p>Os exercícios propostos no App. Sua disciplina.</p>
      </ion-item>
      <ion-item nav-clear menu-close class="item-icon-right item-avatar" ng-click="abrirIdealizadora();">
        <img src="img/icons/utilizando/icone-idealizadora.png">
        <h2>Idealizadora do App</h2>
        <p>Neiruelk Norberto de Sousa Azevedo Mesquita – CRP 09/1504.</p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
