<ion-view view-title="Vídeos pró ativos" class="background">
  <ion-content>
    <div class="text-center">
      <br>
      <img src="img/icons/icone-videos-int.png">
    </div>
    <div class="padding text-center">
      <p></p>
      <h4>Meus vídeos e outros no YouTube.</h4>
      <p>Neste espaço você contará sempre com vídeos atualizados sobre assuntos pertinentes ao tema líder em mim e atualização de crenças, visando fortalecer o conceito de que lidando com sua realidade vivida você sempre terá alternativas e possibilidades para alcançar seus objetivos propostos.</p>
      <h3>Canal <a class="a-href" href="https://www.youtube.com/channel/UCy3vnL8rJ2qwSlQxPOCa4FA/featured">lideremmimonline</a></h3><br>
    </div>
  </ion-content>
</ion-view>
