<ion-view view-title="Atualizar crenças" class="background">
  <ion-content>
    <div class="text-left background-atualizar">
      <a href="#/atualizar/atualizarhome">
        <img class="voltar-menu" src="img/icons/voltar.png">
      </a>
    </div>
    <div class="text-center">
      <img src="img/icons/atualizar/icone-autonomia.png">
      <h2>Vitimização X Autonomia</h2>
    </div>

    <div class="padding">
      <p><b>Vitimizar</b> – saia do lugar de vítima, dos seus pais, das pessoas ao seu redor, do seu trabalho, do seu casamento, dos seus filhos, do seu dinheiro, etc. O processo de vitimização diante do mundo provoca um sentimento profundamente limitador e faz você se ver impotente para mudar qualquer coisa, pois sempre se sentirá preso em algo. É uma crença extremamente autossabotadora. Se vitimizar é se sentir impedido por algo externo. E se ver totalmente incapaz para alcançar o que deseja diante das idealizações que construiu.</p>
      <p><b>Autonomia</b> – é ter um sentimento de capacidade diante de qualquer momento da sua vida bom ou ruim. Se aproprie de sua autonomia, esta é uma capacidade autoconfiante. Veja o que você tem. Elimine o pensamento do que não tem. Seja autônomo com suas possibilidades e não se prenda nas suas impossibilidades momentâneas.</p>
    </div>
  </ion-content>
</ion-view>
