<ion-view view-title="Atualizar crenças" class="background">
  <ion-content>
    <div class="text-left background-atualizar">
      <a href="#/atualizar/atualizarhome">
        <img class="voltar-menu" src="img/icons/voltar.png">
      </a>
    </div>
    <div class="text-center">
      <img src="img/icons/atualizar/icone-autonomia-big.png">
      <h2>Vitimização X Autonomia</h2>
    </div>

    <div class="padding">
      <p><b>Vitimizar</b> – é um comportamento autossabotador quando recorrentemente você atribui a responsabilidade de seu sucesso ou seu fracasso ao outro, nunca a você. Você é sempre refém de algo. Saia do lugar de vítima, dos seus pais, das pessoas ao seu redor, do seu trabalho, do seu casamento, dos seus filhos, do seu dinheiro, etc. O processo de vitimização diante do mundo provoca um sentimento profundamente limitador e faz você se ver impotente para mudar qualquer coisa, pois sempre se sentirá preso em algo. Se vitimizar é se sentir impedido por algo externo a você. E se ver totalmente incapaz para alcançar o que deseja diante das idealizações que você construiu.</p>
      <p>Por exemplo: meu relacionamento acabou pela crise/dificuldade financeira. Estou endividado porque meu amigo não me pagou o dinheiro que emprestei.</p>
      <p><b>Autonomia</b> –  é um comportamento autoconfiante quando você assume a responsabilidade do que está fazendo em qualquer momento de sua vida. Assumir sua responsabilidade nos acontecimentos de sua vida sempre te possibilita alterar sua atitude e melhorar o que você não gosta, não quer. É ter um sentimento de capacidade diante de qualquer momento da sua vida bom ou ruim. Se aproprie de sua autonomia. Veja o que você tem. Elimine o pensamento do que você não tem. Seja autônomo com suas possibilidades e não se prenda nas suas impossibilidades momentâneas.</p>
      <p>Por exemplo: meu relacionamento acabou porque eu não soube lidar com a crise financeira. O que posso fazer agora? Estou endividado porque quis emprestar meu dinheiro para o meu amigo. Que alternativas tenho agora?</p>
    </div>
  </ion-content>
</ion-view>
