<ion-view view-title="Atualizar crenças" class="background">
  <ion-content>
    <div class="text-left background-atualizar">
      <a href="#/atualizar/atualizarhome">
        <img class="voltar-menu" src="img/icons/voltar.png">
      </a>
    </div>
    <div class="text-center">
      <img src="img/icons/atualizar/icone-comparacao.png">
      <h2>Comparação X Personalização</h2>
    </div>

    <div class="padding">
      <p><b>Comparar</b> - pare de se comparar com os outros para se diminuir ou desvalorizar.
        Está é uma crença muito impeditiva e autossabotadora, pois normalmente você sempre se compara a alguém para ver que o outro tem mais que você!! Só que você não olha as realidades diferentes de cada um. Tenha sempre referenciais que te ajudem a ver que você é capaz, nunca comparativos que te diminuam.</p><p>
      <b>Personalizar</b> – saber quem se é e onde se está (sua realidade) é o único caminho para se chegar onde se almeja. Está é uma crença muito importante do ciclo da autoconfiança. Se conheça e reconheça em suas possibilidades, elimine o imediatismo autossabotador e frustrante. Estabeleça seu planejamento, tenha sempre em mente sua situação atual (por pior que ela seja, é seu meio para melhorar). Se automotive elegendo prioridades possíveis de realizar.</p>
    </div>
  </ion-content>
</ion-view>
