<ion-view view-title="Atualizar crenças" class="background">
  <ion-content>
    <div class="text-left background-atualizar">
      <a href="#/atualizar/atualizarhome">
        <img class="voltar-menu" src="img/icons/voltar.png">
      </a>
    </div>
    <div class="text-center">
      <img src="img/icons/atualizar/icone-idealizacao.png">
      <h2>Idealização X Presentificação</h2>
    </div>

    <div class="padding">
      <p><b>Idealizar</b> - pare de idealizar/imaginar o que você não tem. Esta é uma crença muito limitadora e autossabotadora quando você só idealiza situações/metas/objetivos/resultados totalmente fora da sua realidade, produz sempre pensamentos negativos ou falso motivador, que te desanima para continuar algo que começou.</p><p>
      Sempre tenha referências positivas, que você admira. Elimine idealizações/ídolos que te distanciam ou incapacitam do seu objetivo.</p><p>
      <b>Presentificar</b> - presentifique sempre. O único momento possível para se fazer alguma coisa é o momento presente. Presentificar é uma crença auto encorajadora e autoconfiante quando aplicada na sua realidade. Estabeleça/defina seu objetivo real. Utilize os recursos que tem agora para alcançar o que se quer.</p>
    </div>
  </ion-content>
</ion-view>
