<ion-view view-title="Atualizar crenças" class="background">
  <ion-content>
    <div class="text-left background-atualizar">
      <a href="#/atualizar/atualizarhome">
        <img class="voltar-menu" src="img/icons/voltar.png">
      </a>
    </div>
    <div class="text-center">
      <img src="img/icons/atualizar/icone-proatividade.png">
      <h2>Impotência X Pró Atividade</h2>
    </div>

    <div class="padding">
      <p><b>Impotência</b> – pare de se retrair, se imaginando não conseguindo algo. Sentir-se impotente é consequência do processo de vitimização. Você só é impotente para si mesmo. Normalmente no ciclo autossabotador o sentimento de impotência se instala quando você idealiza algo a ser alcançado fora da sua realidade presente.</p>
      <p><b>Pró atividade</b> – é sempre um sentimento autoconfiante de poder fazer algo, por pior que o momento seja. É sempre pensar/elaborar uma atitude que se tem diante de fatos e situações concretas que te automotivam para alcançar o que se quer. O líder em si tem momentos de desânimo, mas como não se sente vítima/impotente diante de situações trágicas, sempre acredita que tem saída, escolha! Seja sempre, ou na maioria das vezes, pró ativo/autônomo. Não idealize sua realidade, e sim a assuma. Lembre-se: você sempre tem escolha. Se aproprie dela.</p>
    </div>
  </ion-content>
</ion-view>
