<ion-view view-title="Atualizar crenças" class="background">
  <ion-content>
    <div class="text-left background-atualizar">
      <a href="#/atualizar/atualizarhome">
        <img class="voltar-menu" src="img/icons/voltar.png">
      </a>
    </div>
    <div class="text-center">
      <img src="img/icons/atualizar/icone-proatividade-big.png">
      <h2>Impotência X Pró Atividade</h2>
    </div>

    <div class="padding">
      <p><b>Impotência</b> – é um comportamento autossabotador quando provoca um sentimento de paralização, retração diante de sua vida concreta. Você nunca se vê capaz de fazer nada que quer. Pare de se retrair, se imaginando não conseguindo algo. Sentir-se impotente é consequência do processo de vitimização. Você só é impotente para você mesmo. Normalmente o sentimento de impotência se instala em você, quando você idealiza algo a ser alcançado fora da sua realidade presente.</p>
      <p>Por exemplo: queria tanto mudar de cidade/país, de vida, mas não posso, tenho filhos para criar, um trabalho estável, não consigo arriscar.</p>
      <p><b>Pró atividade</b> – é um comportamento autoconfiante quando você assume o que quer e estabelece alternativas e possibilidades a curto, médio e longo prazo em sua realidade vivida para alcançar o que tanto almeja de forma ponderada. É sempre um sentimento de fazer algo, por pior que o momento seja. É sempre pensar/elaborar uma atitude que se tem diante de fatos e situações concretas que te automotivam para alcançar o que se quer. O líder em si tem momentos de desânimo, mas como não se sente vítima/impotente nunca nem diante de situações trágicas, sempre acredita que tem saída, escolha! Seja sempre, ou na maioria das vezes, pró ativo/autônomo. Não idealize sua realidade, e sim a assuma. Se aproprie de que você sempre tem escolha.</p>
      <p>Por exemplo: quero muito mudar de cidade/país, de vida. Tenho filhos para criar, um trabalho estável, não vou arriscar. Vou me organizar financeiramente poupando um valor todo dia/mês/semestre/ano ou o tempo necessário para, com segurança, conseguir mudar daqui um tempo.</p>
    </div>
  </ion-content>
</ion-view>
