<ion-view view-title="Atualizar crenças" class="background">
  <ion-content>
    <div class="text-left background-atualizar">
      <a href="#/atualizar/atualizarhome">
        <img class="voltar-menu" src="img/icons/voltar.png">
      </a>
    </div>
    <div class="text-center">
      <img src="img/icons/atualizar/icone-liberdade-big.png">
      <h2>Limitação X Liberdade</h2>
    </div>

    <div class="padding">
      <p><b>Limitar</b> – é um comportamento autossabotador quando sua incapacidade de ação ou a atitude diante da situação estão fora do seu alcance. Seu sentimento de limitação muitas vezes é desenvolvido/criado por você diante das suas idealizações construídas baseadas no que você não tem. Pare de desejar o que você não tem e se aproprie do que você tem (por mínimo que seja).</p>
      <p>Por exemplo: minha situação financeira é ruim porque tenho responsabilidades demais. Não posso fazer atividade física e cuidar de mim porque tenho que trabalhar demais para sustentar sozinho minha família.</p>
      <p><b>Liberdade</b> – é um comportamento autoconfiante quando diante de sua realidade concreta você se dá a liberdade possível, situada em sua vida atual, contextualizada na sua rotina. Se dê liberdade diante da liberdade que você não tem. Imagine-se em todas as situações que quiser com todas as responsabilidades que você tem, diante disto se dê a liberdade possível tendo em vista todos os seus compromissos.</p>
      <p>Muitas vezes você acredita que existe liberdade plena. Não, não existe!! A sua liberdade é sempre situada/contextualizada na sua realidade. E é por isto que você é seu próprio líder, para conseguir na sua adversidade a sua libertação.</p>
      <p>Por exemplo: com a minha situação financeira posso assumir algumas responsabilidades. Quero assumir mais responsabilidades, o que posso fazer para ganhar mais dinheiro? Sustento sozinho minha família e quero cuidar de mim, fazer atividade física. O que vou diminuir no meu contexto para conseguir o que quero? Será que mais alguém na família pode trabalhar para dividirmos as responsabilidades?</p>
    </div>
  </ion-content>
</ion-view>
