<ion-view view-title="Atualizar crenças" class="background">
  <ion-content>
    <div class="text-left background-atualizar">
      <a href="#/atualizar/atualizarhome">
        <img class="voltar-menu" src="img/icons/voltar.png">
      </a>
    </div>
    <div class="text-center">
      <img src="img/icons/atualizar/icone-liberdade.png">
      <h2>Limitação X Liberdade</h2>
    </div>

    <div class="padding">
      <p><b>Limitar</b> – outra crença autossabotadora. Seu sentimento de limitação muitas vezes é desenvolvido/criado diante de suas idealizações construídas baseadas no que você não tem. Pare de desejar o que não tem e se aproprie do que tem (por mínimo que seja).
      </p>
      <p><b>Liberdade</b> – muitas vezes se acredita que existe liberdade plena. Não, não existe!! A sua liberdade autoconfiante é sempre situada/contextualizada na sua realidade. E é por isto que você é seu próprio líder, para conseguir na sua adversidade a sua libertação.
        Se dê liberdade diante da liberdade que você não tem. Imagine-se em todas as situações que quiser com todas as responsabilidades que tem, diante disto reconheça a sua liberdade possível tendo em vista todos os seus compromissos.</p>
    </div>
  </ion-content>
</ion-view>
