<ion-view view-title="Atualizar crenças" class="background">
  <ion-content>
    <div class="text-left background-atualizar">
      <a href="#/atualizar/atualizarhome">
        <img class="voltar-menu" src="img/icons/voltar.png">
      </a>
    </div>
    <div class="text-center">
      <img src="img/icons/atualizar/icone-o-que-e-small.png">
      <h2>O que é o líder em mim?</h2>
    </div>

    <div class="padding">
      <p>É amplamente estabelecida a crença de que ser líder e ter a capacidade/habilidade de liderança é para poucos ou somente para alguns. E isto não é verdade.
        Todos nós podemos ser líderes! Sabe por quê? Porque antes de sermos líderes de negócios, pessoas, precisamos ser líderes de nós mesmos! Assim, donos de negócios, chefes de equipes, funcionários, casados, solteiros, tendo filhos ou não tendo filhos, estudantes, podem ser líderes em si mesmo. Não importa sua condição. Sim! Você é líder de si mesmo.
        Atualize esta crença, ser seu próprio líder é ter a capacidade de saber quem você é, qual a realidade que você tem, saber o que você quer e quais recursos você tem ao seu alcance para atingir seus resultados.</p>
      <p>Seja pró ativo com seu tempo real (disponível ou não) se auto motive com suas ferramentas próprias em seu benefício e se reconheça nos erros e acertos em cada etapa desenvolvida.</p>
    </div>
  </ion-content>
</ion-view>
