<ion-view view-title="Atualizar crenças" class="background">
  <ion-content>
    <div class="text-left background-atualizar">
      <a href="#/atualizar/atualizarhome">
        <img class="voltar-menu" src="img/icons/voltar.png">
      </a>
    </div>
    <div class="text-center">
      <img src="img/icons/atualizar/icone-o-que-e-lideranca.png">
      <h2>O que é liderança?</h2>
    </div>

    <div class="padding">
      <p>É a capacidade/habilidade que o líder de si mesmo tem caso queira ter seu próprio negócio, comandar equipes, organizar grupos (qualquer tipo de grupo, desde corporações até movimento de manifestações).</p><p>
      O líder em si mesmo consegue mobilizar pessoas de maneira positiva, estimulando-as a desenvolver o melhor de si mesmas, motivando-as, inspirando sua auto-confiança para que elas gerem resultados lucrativos ou não. Como ele faz isto? Fazendo com os outros/pessoas o que ele fez consigo mesmo: vendo a realidade, definindo objetivo, desenvolvendo, metas reais a serem alcançadas, capacitando as pessoas/grupos/equipes para utilizar os recursos que tem com o tempo possível.</p><p>
        Você quer ser líder com liderança para outros? Então comece já a fazer isto com você!!</p>
    </div>
  </ion-content>
</ion-view>
