<ion-view view-title="Atualizar crenças" class="background">
  <ion-content>
    <div class="text-left background-atualizar">
      <a href="#/atualizar/atualizarhome">
        <img class="voltar-menu" src="img/icons/voltar.png">
      </a>
    </div>
    <div class="text-center">
      <img src="img/icons/atualizar/icone-realizacao.png">
      <h2>Imaginação X Realização</h2>
    </div>

    <div class="padding">
      <p><b>Imaginar</b> – é uma crença autossabotadora quando você fica somente no campo das ideias, de momentos que não tem, de atitudes impossíveis de serem realizadas se vendo em uma situação que não é a sua.</p>
      <p><b>Realizar</b> – é uma crença autoconfiante que te dá poder de ação no seu momento vivido, com atitudes reais que estão ao seu alcance. Faça Agora!! Faça Você mesmo!! Realize suas possibilidades, alcance. A partir de agora identifique em que ciclo você está. Construa ou reforce seu ciclo da auto confiança. Saia ou elimine seu ciclo da autossabotagem.</p>
    </div>
  </ion-content>
</ion-view>
