<ion-view view-title="Atualizar crenças" class="background">
  <ion-content>
    <div class="text-left background-atualizar">
      <a href="#/atualizar/atualizarhome">
        <img class="voltar-menu" src="img/icons/voltar.png">
      </a>
    </div>
    <div class="text-center">
      <img src="img/icons/atualizar/icone-realizacao-big.png">
      <h2>Imaginação X Realização</h2>
    </div>

    <div class="padding">
      <p><b>Imaginar</b> – é um comportamento autossabotador quando suas atitudes ficam somente no campo das ideias, te motivando momentaneamente, mas nunca se realizando, o que desencadeia um sentimento recorrente em você de frustração e descrédito. É uma crença autossabotadora quando você fica somente no campo das ideias, de momentos que não tem, de atitudes impossíveis para o seu momento em uma situação que não é a sua.</p>
      <p>Por exemplo: amanhã vou acordar mais cedo e começar minha atividade física, hoje não posso. Segunda-feira vou enviar meu currículo porque não aguento mais o meu trabalho.</p>
      <p><b>Realizar</b> – é um comportamento autoconfiante quando concretiza em atitudes no seu tempo presente e real as suas ideias. Desencadeando um sentimento de satisfação e orgulho. É uma crença que te dá poder de ação no seu momento vivido, com atitudes reais que estão ao seu alcance. Faça Agora!! Faça Você mesmo!! Realize suas possibilidades, alcance. A partir de agora identifique em que ciclo você está. Construa ou reforce seu ciclo da auto confiança. Saia ou elimine seu ciclo da autossabotagem.</p>
      <p>Por exemplo: hoje no final do dia tenho 30 minutos livres, vou começar minha atividade física. Hoje já enviei meu currículo para lugares/empresas que quero trabalhar. Por enquanto vou me dedicar ao trabalho que tenho (por pior que seja), pois pode me ajudar nas minhas referências para o próximo trabalho que quero.</p>
    </div>
  </ion-content>
</ion-view>
