<ion-view view-title="Atualizar crenças" class="background">
  <ion-content>
    <div class="text-left background-atualizar">
      <a href="#/atualizar/atualizarhome">
        <img class="voltar-menu" src="img/icons/voltar.png">
      </a>
    </div>
    <div class="text-center">
      <img src="img/icons/atualizar/icone-sabotagem.png">
      <h2>Ciclo da Autossabotagem X Ciclo da Autoconfiança</h2>
    </div>

    <div class="padding">
      <p>O que usualmente impede ou permite você de ser líder de si mesmo é desenvolver crenças rígidas sobre você e os outros. Dependendo da crença estabelecida, você se amedronta ou se encoraja.</p><p>
        Aqui será descrito o ciclo da autossabotagem que impede ou amedronta você a ser líder de si mesmo, e também o ciclo da autoconfiança que permite ou encoraja você a lidar pro ativamente com sua realidade.</p><p>
        As crenças negativas que se constroem no decorrer de sua vida fazem construir junto um ciclo de autossabotagem que muitas vezes, sem se dar conta dele, você se vê sempre no mesmo lugar, repetindo os mesmos erros e sentindo total desesperança que possa mudar.</p><p>
        Já as crenças atualizadas e positivas faz refletir sobre seus erros encontrando o caminho para os acertos e construindo seu ciclo da autoconfiança, o que te proporciona um sentimento de automotivação para mudança.</p>
    </div>
  </ion-content>
</ion-view>
