<ion-view view-title="Atualizar crenças" class="background">
  <ion-content>
    <div class="text-left background-atualizar">
      <a href="#/atualizar/atualizarhome">
        <img class="voltar-menu" src="img/icons/voltar.png">
      </a>
    </div>
    <div class="text-center">
      <img src="img/icons/atualizar/icone-sabotagem-big.png">
      <h2>Ciclo da Autossabotagem X Ciclo da Autoconfiança</h2>
    </div>

    <div class="padding">
      <p>O que usualmente impede ou favorece você de ser líder de si mesmo é desenvolver crenças rígidas sobre você e os outros. Dependendo da crença estabelecida, você se encoraja ou se amedronta.</p>
      <p>A partir de agora e nas próximas abas serão descritos com clareza a construção e funcionamento do seu ciclo da autossabotagem, explicitando com precisão os comportamentos mais encontrados (comuns) que impedem ou amedrontam você a ser líder de si mesmo, fazendo com que permaneça no mesmo lugar, insatisfeito, frustrado e infeliz. E também a construção e o funcionamento do seu ciclo da autoconfiança indicando os comportamentos que você pode desenvolver e ter que permitem ou encorajam você a lidar pró ativamente com sua realidade boa ou ruim e identificar suas possibilidades e alternativas diante do que estiver vivendo. Proporcionando assim que você se sinta satisfeito, realizado e feliz com sua vida, sendo líder de si mesmo.</p>
      <p>As crenças negativas que construímos no decorrer de nossa vida nos fazem construir junto um ciclo de autossabotagem que muitas vezes, sem se dar conta dele, você se vê sempre no mesmo lugar, repetindo os mesmos erros e sentindo total desesperança que possa mudar.</p>
      <p>Comportamentos autossabotadores são aqueles que te acomodam e estagnam, proporcionando sentimentos de incapacidade, inferioridade e baixa autoestima diante dos outros e do mundo ao seu redor, impedindo você de sentir que seu comportamento, sua vida, seu mundo está em suas mãos. Desencadeando um sentimento de que você é refém/prisioneiro em sua própria vida.
        Já os comportamentos autoconfiantes são aqueles que te motivam, estimulam a se apropriar de quem você é, que realidade você tem e o que pode fazer para desfrutar do que realmente é bom ou alterar o que realmente for ruim. Proporcionando sentimentos de capacidade, autonomia e orgulho de você mesmo diante dos outros e do mundo ao seu redor, fortalecendo você a sentir que seu comportamento, sua vida, seu mundo estão em suas mãos.
        E possibilitando que você encontre e desenvolva o líder que há em você mesmo.
        Nas próximas abas você encontrará com mais detalhes os 6 comportamentos autossabotadores mais comuns assim como os 6 comportamentos autoconfiantes.</p>
    </div>
  </ion-content>
</ion-view>
