<ion-view view-title="Utilizando o aplicativo" class="background">
  <ion-content>
    <div class="text-left background-utilizando">
      <a href="#/utilizando/utilizandohome">
        <img class="voltar-menu" src="img/icons/voltar.png">
      </a>
    </div>
    <div class="text-center">
      <img src="img/icons/utilizando/icone-idealizadora.png">
      <h2>Idealizadora do App</h2>
    </div>
    <div class="padding">
      <p>Neiruelk Norberto de Sousa Azevedo Mesquita – CRP 09/1504</p>
      <p><a href="www.facebook.com/neiruelknorberto" class="a-href">Facebook</a></p>
      <p><a href="www.instagram.com/neiruelknorberto" class="a-href">Instagram</a></p>
      <p><a href="https://www.youtube.com/channel/UCy3vnL8rJ2qwSlQxPOCa4FA" class="a-href">Youtube</a></p>
      <p><a href="http://lideremmimonline.com.br" class="a-href">Site</a></p><br>
      <h4>Design</h4>
      <p>Sandro P. Araujo</p>
      <p>62 98289 2988</p>
      <a href="mailto:sandro.araujo@gmail.com" class="a-href">sandro.araujo@gmail.com</a><br>
      <h4>Desenvolvedor</h4>
      <p>Waltenes P. S. Junior</p>
      <p>62 98236 3343</p>
      <a href="mailto:waltenesjr@live.com" class="a-href">waltenesjr@live.com</a>
    </div>
  </ion-content>
</ion-view>
