<ion-view view-title="Utilizando o aplicativo" class="background">
  <ion-content>
    <div class="text-left background-utilizando">
      <a href="#/utilizando/utilizandohome">
        <img class="voltar-menu" src="img/icons/voltar.png">
      </a>
    </div>
    <div class="text-center">
      <img src="img/icons/utilizando/frase-viktor-frankl-int.png">
      <h2>Pensamento líder</h2>
    </div>
    <div class="padding">
      <p>“Quando a situação for boa, desfrute-a.
        </p><p>Quando a situação for ruim, transforme-a.
        </p><p>Quando a situação não puder ser transformada, transforme-se.”</p>
      <div class="text-right">
        <p style="padding-right: 50px;">Viktor Frankl</p>
      </div>
      <p>Este autor expressa neste pensamento a magnitude do significado de ser líder em mim. Não importa o que esteja acontecendo em sua vida, “você” é o senhor do seu destino. Saiba reconhecer o que é bom e aproveite. Se tiver ruim, identifique o que é possível mudar e tenha atitude. Se diante da sua realidade externa nada puder ser mudado, mude você mesmo, faça com você o que gostaria que o outro fizesse, ou com a realidade que te rodeia. Você sempre tem possibilidades próprias para lidar e transformar sua realidade.</p>
    </div>
  </ion-content>
</ion-view>
