<ion-view view-title="Utilizando o aplicativo" class="background">
  <ion-content>
    <div class="text-left background-utilizando">
      <a href="#/utilizando/utilizandohome">
        <img class="voltar-menu" src="img/icons/voltar.png">
      </a>
    </div>
    <div class="text-center">
      <img src="img/icons/utilizando/icone-inicio.png">
      <h2>Pensamento líder</h2>
    </div>
    <div class="padding">
      <p>“Quando a situação for boa, desfrute-a.
        </p><p>Quando a situação for ruim, transforme-a.
        </p><p>Quando a situação não puder ser transformada, transforme-se.”</p>
      <div class="text-right">
        <p style="padding-right: 50px;">Viktor Frankl</p>
      </div>
    </div>
  </ion-content>
</ion-view>
