<ion-view view-title="Utilizando o aplicativo" class="background">
  <ion-content>
    <div class="text-left background-utilizando">
      <a href="#/utilizando/utilizandohome">
        <img class="voltar-menu" src="img/icons/voltar.png">
      </a>
    </div>
    <div class="text-center">
      <img src="img/icons/utilizando/icone-olhe-para-si-int.png">
      <h2>Olhe para si mesmo agora.</h2>
    </div>
    <div class="padding">
      <p>Veja sua realidade, reconheça os recursos que tem ao seu redor. Coloque em prática com atitudes concretas o líder de si mesmo.
        Aprenda de maneira objetiva a lidar com seu tempo presente (o único possível para ação), lide com o passado como lembrança reflexiva e com o futuro como perspectiva real. Use o tempo cronológico a seu favor, os recursos que tem em seu benefício, atinja suas metas reais, concretas e realize dentro do possível seus objetivos. Desfrute sempre das suas conquistas, por menores que sejam, reconheça suas possibilidades e alternativas próprias.</p>
      <p>Coloque em prática seus novos hábitos construídos gradativamente com atitudes concretas e comportamentos coerentes e atualizados em sua realidade vivida.</p>
    </div>
  </ion-content>
</ion-view>
