<ion-view view-title="Utilizando o aplicativo" class="background">
  <ion-content>
    <div class="text-left background-utilizando">
      <a href="#/utilizando/utilizandohome">
        <img class="voltar-menu" src="img/icons/voltar.png">
      </a>
    </div>
    <div class="text-center">
      <img src="img/icons/utilizando/icone-recursos-int.png">
      <h2>Que recursos pode utilizar?</h2>
    </div>

    <div class="padding">
      <p><strong>Os exercícios propostos no App.</strong></p>
      <p><strong>Sua disciplina</strong> - estabeleça sua regra, sua ordem e responsabilidade constante necessária para conseguir o que
        quer alcançar com seu ritmo, com sua vida.</p>
      <p><strong>Seu foco</strong> - leve em consideração sua realidade e tenha em vista com clareza seu objetivo bem definido e que
        você consiga alcançar com o que possui.</p>
      <p><strong>Sua determinação</strong> - não se perca com metas e objetivos inalcançáveis em sua realidade atual. Desenvolva e
        defina suas metas reais para alcançar com sua disciplina e seu foco o que você determinar/ordenar para si
        mesmo.</p>
      <p><strong>Seu bom senso</strong> - aja sempre que possível com sensatez e ponderação diante de sua realidade e seu perfil de
        comportamento próprio. Coloque em prática sua disciplina, seu foco e sua determinação alicerçados sempre
        em seu bom senso, por pior que seja seu momento atual. Você consegue.</p>
      <p><strong>Ajuda profissional:</strong> <a class="a-href" href="http://lideremmimonline.com.br">www.lideremmimonline.com.br</a></p>
    </div>
  </ion-content>
</ion-view>
