<ion-view view-title="Utilizando o aplicativo" class="background">
  <ion-content>
    <div class="text-left background-utilizando">
      <a href="#/utilizando/utilizandohome">
        <img class="voltar-menu" src="img/icons/voltar.png">
      </a>
    </div>
    <div class="text-center">
      <img src="img/icons/utilizando/icone-recursos.png">
      <h2>Que recursos pode utilizar?</h2>
    </div>

    <div class="padding">
      <p>- Os exercícios propostos no App.</p>
      <p>- Sua disciplina.</p>
      <p>- Seu foco.</p>
      <p>- Sua determinação.</p>
      <p>- Seu bom senso.</p>
      <p>- Ajuda profissional: <a class="a-href" href="http://lideremmimonline.com.br">www.lideremmimonline.com.br</a></p>
    </div>
  </ion-content>
</ion-view>
