<ion-view view-title="Utilizando o aplicativo" class="background">
  <ion-content>
    <div class="text-left background-utilizando">
      <a href="#/utilizando/utilizandohome">
        <img class="voltar-menu" src="img/icons/voltar.png">
      </a>
    </div>
    <div class="text-center">
      <img src="img/icons/utilizando/icone-seja-bom.png">
      <h2>Seja bom com você como você é com outros.</h2>
    </div>

    <div class="padding">
      <p>Seja bom com você mesmo assim como você é com os outros.
        Normalmente você é ótimo com os outros, disponível, agradável, solícito, etc. Já com você mesmo, é seu maior crítico! É quem mais se desvaloriza.
        A partir de agora seja seu maior incentivador. Se reconheça com o valor que tem, se elogie quando acertar, por mínimo que seja o acerto.
        Comemore cada conquista alcançada, por menor que ela seja. Se motive com os recursos que tem. Realize-se com suas atitudes pró-ativas.</p>
    </div>
  </ion-content>
</ion-view>
