<ion-view view-title="Pratique o líder em você mesmo" class="background">
  <ion-content>
    <div class="text-left background-pratique">
      <a href="#/pratique/pratiquehome">
        <img class="voltar-menu" src="img/icons/voltar.png">
      </a>
    </div>
    <div class="text-center">
      <img src="img/icons/pratique/icone-atitude-pro-ativa-big.png">
      <h2>Atitude pró ativa</h2>
    </div>

    <div class="padding">
      <p>A partir dos três primeiros passos indicados anteriormente, identifique suas possibilidades e alternativas disponíveis em seu contexto atual e coloque em prática o que planejou, com atitudes concretas estabelecidas por você, no tempo definido por você.
        Liste expectativas reais de resultados alcançáveis, autoconfiantes e não autossabotadores.
        Repita frequentemente.</p>
    </div>
  </ion-content>
</ion-view>
