<ion-view view-title="Pratique o líder em você mesmo" class="background">
  <ion-content>
    <div class="text-left background-pratique">
      <a href="#/pratique/pratiquehome">
        <img class="voltar-menu" src="img/icons/voltar.png">
      </a>
    </div>
    <div class="text-center">
      <img src="img/icons/pratique/icone-escrita-pro-ativa-big.png">
      <h2>Escrita pró ativa</h2>
    </div>

    <div class="padding">
      <p>Neste tempo estabelecido e cumprido por você, escreva na sua agenda, anote no seu smartphone e/ou tablet tudo que quiser planejar para aquele dia (se lembre sempre: um caminho consolidado começa no primeiro passo), semana. Coloque lembretes em seu smartphone/tablet que te ajudem a se organizar. Não se disperse agora escrevendo possibilidade de meses ou anos. Consolide primeiro seu momento atual, posteriormente virão os planejamentos mensais e anuais. Planejamento pró ativo tem resultado a curto, médio e longo prazo.
        Comece pelo curto, estabeleça metas reais. Repita frequentemente.</p>
    </div>
  </ion-content>
</ion-view>
